<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Coven</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CovenModel</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CovenModelTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CovenTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Model</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ModelTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Models</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Textbelt</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TextbeltTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
